*{
    box-sizing: border-box;
}
body {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(#0d1226,#1c2138) no-repeat;
    background-size:cover;
    margin: 0;
    color: #fff;
}
.bungee-normal {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.glass-look{
    background-color: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
header{
    width: 100%;
    height: 50px;
}
header h1{
    width: 100%;
    text-align: center;
    color: #6366f1;
    margin: 0;
}

main{
    height: calc(100vh - 50px);
    overflow-y: scroll;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    background: #000;
    padding: 5px 0;
}
footer p{
    margin: 0;
    margin-top: 5px;
    text-align: center;
}
.modal{
    padding: 10px 20px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 400px;
    background-color: #222;
    border-radius: 10px;
}
.modal button.close{
    margin: 0;
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: none;
    color: #fff;
    top: -10px;
    left: 100%;
    background-color: red;
    border-top-right-radius: 10px;
}
.modal .info{
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.modal .info .label,.modal .info .value{
    font-size: 1rem;
    margin: 0;
}
.modal .info .label{
    width: 140px;
}
.modal .info .value{
    margin-left: 20px;
    max-width: 400px;
}
@media (max-width:700px) {
    header{
        height: 100px;
    }
    main {
        height:  calc(100vh - 100px);
    }
    .modal{
        width: 300px;
        height: fit-content;
    }
    .modal .info{
        display: block;
    }
}